li.starship-item{
  background: rgb(3, 65, 65);
  width: 100%;
  height: 100px;
  text-align: center;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}