main{
  align-items: start;
}

.starship-card{
  background: rgb(3, 65, 65);
  width: 600px;
  height: 150px;
  text-align: left;
  padding:100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin:30px auto;
  font-size:1.25em;
  text-transform: uppercase;
}

h2{
  margin-bottom:20px;
  margin-top:0;
}

.title-section{
  margin-bottom:20px;
}

.return-link{
  color:#fff;
  margin-top:20px;
  text-decoration: underline;
  font-size:1.25em;
}

.loading-heading{
  color: rgb(3, 65, 65);
}