header{
  height:50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding:20px 100px;
  background-color: black;
}

nav>a{
  color:yellow;
  font-size: 1.5em;
  text-transform: uppercase;
}