#root {

  width: 100%; 
  margin: 0 auto;


}
body{
  background-color: rgb(32, 32, 32);
}

main{

  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
