#root {

  width: 100%; 
  margin: 0 auto;


}
body{
  background-color: #fff;
  display: flex;

}

.title-section{
  background-color: rgb(3, 65, 65);
  text-align: center;
  padding:0.5rem;
}

section.starships-wrapper{
 /* margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center; */
 margin: auto;
}

ul.starships-list{
  margin-top:100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:30px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
