#root {

  width: 100%; 
  margin: 0 auto;


}
body{
  background-color: #fff;
}

main{

  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

img{
  width:800px;
  height: auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
